<div style="height: 80vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>BollywoodTrending</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a href="#" mat-button>Menu Item 1</a>
        <a href="#" mat-button>Menu Item 2</a>
        <a href="#" mat-button>Menu Item 3</a>
        <a href="#" mat-button>Menu Item 4</a>
        <a href="#" mat-button>Menu Item 5</a>
        <a href="#" mat-button>Menu Item 6</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a href="#" mat-list-item>Menu Item 1</a>
        <a href="#" mat-list-item>Menu Item 2</a>
        <a href="#" mat-list-item>Menu Item 3</a>
        <a href="#" mat-list-item>Menu Item 4</a>
        <a href="#" mat-list-item>Menu Item 5</a>
        <a href="#"mat-list-item>Menu Item 6</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>

<ng-container *ngFor="let i of [0,1,2,3]">
  <div *ngIf="i==index && !loading" [@flyInOut] [ngClass]="'background div'+i">
  </div>
</ng-container>
<div *ngIf="loading" class="background div0"></div>


   <div style="font: 500 20px/32px Roboto, 'Helvetica Neue', sans-serif;text-align: center;
    margin-top: 50%;
    color: white;
    font-size: 31px;"> Bollywood Trending</div>



  </mat-sidenav-content>
  </mat-sidenav-container>

  <div class="footer">
   <p>BollywoodTrending.in<br>
      <span id="socialMedia">
      <span><i class="fa fa-facebook-square" style="cursor: pointer;"  aria-hidden="true"></i>
      </span> 
      <span style="margin-left: 10px"><i style="cursor: pointer;" class="fa fa-twitter"  aria-hidden="true">
      <a href="https://twitter.com/toptrendinglive"></a>
      </i>
      </span> 
      <span style="margin-left: 10px"><i style="cursor: pointer;" class="fa fa-linkedin"  aria-hidden="true"></i>
      </span>
      </span><br>
<!--       <span>Feedback : sarvesh.y305@gmail.com</span>
 -->   </p>
</div>
</div>
